.App {
  text-align: center;
}

.photoGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  top: 50px;
}

.photoTile {
  position: relative;
}

.textOverlay {
  position: absolute;
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.arrow {
  cursor: pointer;
}

.rightArrow {
  transform: rotate(180deg);
}
